{% extends 'portfolio/layout.html' %}

{% block main %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/animal_styles.css' %}">

    <div class="cards">
        {% for animal in animals %}
            <div class="card">
                <div class="thumbnail-boxed-left">
                    <img class="thumbnail-boxed-image"
                         src="../../static/portfolio/images/{{ animal.picture }}"
                         alt="" width="370" height="254">
                </div>
                <div class="thumbnail-boxed-body">
                    <p class="thumbnail-boxed-title"><a href="{% url 'animal individual' %}"></a>{{ animal.name }}</p>
                    <div class="thumbnail-boxed-text">
                        <p>{{ animal.description }}</p>
                    </div>
                    <div class="thumbnail-boxed-footer">
                        <ul class="thumbnail-boxed-meta">
                            <li><span class="icon icon-xs icon-tan-hide fa-regular fa-calendar-check"></span><span>{{ animal.age }} anos</span>
                            </li>
                            <li><span
                                    class="icon icon-xs icon-tan-hide fa-solid fa-weight-scale"></span><span>{{ animal.weight }} Kg</span>
                            </li>
                            <li><span
                                    class="icon icon-xs icon-tan-hide fa-solid fa-location-dot"></span><span>Location</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}