{% extends 'portfolio/layout.html' %}

{% block main %}
    <div class="main_class">
        <p class="motivational_phrase">
            To the moon <a class="rocket" href="#about_me">
            🚀
            <span class="tooltiptext">Click!</span>
        </a>
        </p>
        <div id="MyClockDisplay" class="clock" onload="showTime()"></div>
        <div id="joke" class="clock" style="font-size: 30px; top: 30%; left: 40%"></div>
        {% load static %}
        <img id="my_picture" src="{% static 'portfolio/images/hero-bg.jpg' %}">
    </div>
    <article class="index_description">
        <div class="image"></div>
        <div id="about_me" class="about_me_index">
            <p style="font-family: 'Courgette', cursive;">
                Tenho 21 anos e estou em busca de mudar o mundo! Eu prospero para aprender o máximo que posso para
                ajudar o
                mundo a se tornar um lugar melhor. Desenvolvi para corporações multinacionais onde aprendi a aprimorar
                minhas soft e hard skills! Adoro ter vários hobbies, desde jogos, exercícios, leitura, qualquer coisa é
                maravilhosa para fazer se estou feliz fazendo isso e principalmente se estou aprendendo algo novo.
                Quando eu
                era mais jovem, fiz voluntariado em abrigos para sem-teto e animais, onde aprendi a permanecer positivo
                mesmo quando as coisas não parecem boas!
            </p>
        </div>
        <div class="cards">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front"
                         style="background-image: url({% static 'portfolio/images/licenciatura.jpg' %})">
                    </div>
                    <div class="flip-card-back">
                        <h1><a href="{% url 'licenciatura' %}">Licenciatura</a></h1>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front"
                         style="background-image: url({% static 'portfolio/images/blog.jpg' %})">
                    </div>
                    <div class="flip-card-back">
                        <h1><a href="{% url 'blog' %}">Blog</a></h1>
                    </div>
                </div>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front"
                         style="background-image: url({% static 'portfolio/images/web.jpg' %})">
                        <div></div>
                    </div>
                    <div class="flip-card-back">
                        <h1><a href="{% url 'tecnologia' %}">Programação Web</a></h1>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <script>
        function showTime() {
            const date = new Date();
            let h = date.getHours(); // 0 - 23
            let m = date.getMinutes(); // 0 - 59
            let s = date.getSeconds(); // 0 - 59
            h = (h < 10) ? "0" + h : h;
            m = (m < 10) ? "0" + m : m;
            s = (s < 10) ? "0" + s : s;
            document.getElementById("MyClockDisplay").textContent = h + ":" + m + ":" + s;
            setTimeout(showTime, 1000);
        }

        let anotherFetch = fetch("https://v2.jokeapi.dev/joke/Programming?blacklistFlags=nsfw,explicit&type=single");
        anotherFetch.then(res =>
            res.json()).then(d => {
                console.log(d.joke);
            document.getElementById("joke").textContent = d.joke;
        })
        showTime();
    </script>
{% endblock %}