{% extends 'portfolio/layout.html' %}

{% block main %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/licenciatura.css' %}">
    <div id="equipa">
        <div class="container">
            <div class="section-title">
                <h1>Primeiro Ano</h1>
            </div>
            <div class="row">
                {% for cadeira in cadeiras %}
                    {% if cadeira.ano == 1 %}
                        <div class="column">
                            <div class="team-2">
                                <div class="team-img">
                                    {% load static %}
                                    <img src="{{ cadeira.imagem }}" alt="Team Image">
                                </div>
                                <div class="team-content">
                                    <h2>{{ cadeira.nome_cadeira }}</h2>
                                    <h3>{{ cadeira.grupo }}</h3>
                                    <p>{{ cadeira.descricao }}</p>
                                    <p>Rank: {{ cadeira.ranking }}</p>
                                    <p>Prática: {{ cadeira.docente_pratica }}</p>
                                    <p>Teórica: {{ cadeira.docente_teorica }}</p>
                                </div>
                                {% if request.user.is_authenticated %}
                                    <a href="{% url 'editar_cadeira' cadeira.id %}">Editar</a>
                                    <a href="{% url '' cadeira.id %}">Eliminar</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="section-title">
                <h1>Segundo Ano</h1>
            </div>
            <div class="row">
                {% for cadeira in cadeiras %}
                    {% if cadeira.ano == 2 %}
                        <div class="column">
                            <div class="team-2">
                                <div class="team-img">
                                    {% load static %}
                                    <img src="{{ cadeira.imagem.url }}" alt="Team Image">
                                </div>
                                <div class="team-content">
                                    <h2>{{ cadeira.nome_cadeira }}</h2>
                                    <h3>{{ cadeira.grupo }}</h3>
                                    <p>{{ cadeira.descricao }}</p>
                                    <p>Rank: {{ cadeira.ranking }}</p>
                                    <p>Prática: {{ cadeira.docente_pratica }}</p>
                                    <p>Teórica: {{ cadeira.docente_teorica }}</p>
                                </div>
                                {% if request.user.is_authenticated %}
                                    <a href="{% url 'editar_cadeira' cadeira.id %}">Editar</a>
                                    <a href="{% url 'eliminar_cadeira' cadeira.id %}">Eliminar</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <a href="{% url 'nova_cadeira' %}">Nova</a>
    </div>
{% endblock %}