{% extends 'portfolio/layout.html' %}

{% block main %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/licenciatura.css' %}">
    <div id="equipa">
        <div class="container">
            <div class="section-title">
                <h1>Primeiro Ano</h1>
            </div>
            <div class="row">
                {% for cadeira in cadeiras %}
                    {% if cadeira.ano == 1 %}
                        <div class="column">
                            <div class="team-2">
                                <div class="team-img">
                                    {% load static %}
                                    <img src="{{ cadeira.imagem.url }}" alt="Team Image">
                                </div>
                                <div class="team-content">
                                    <h2>{{ cadeira.nome_cadeira }}</h2>
                                    <h3>{{ cadeira.grupo }}</h3>
                                    <p>{{ cadeira.descricao }}</p>
                                    <p>Rank:
                                        {% for x in range %}
                                            {% if x <= cadeira.ranking %}
                                                <span class="fa fa-star checked"></span>
                                            {% else %}
                                                <span class="fa fa-star"></span>
                                            {% endif %}
                                        {% endfor %}
                                    </p>
                                    <p>Prática: <a
                                            href="{% url 'docente' cadeira.docente_pratica_id %}">{{ cadeira.docente_pratica }}</a>
                                    </p>
                                    <p>Teórica: <a
                                            href="{% url 'docente' cadeira.docente_teorica_id %}">{{ cadeira.docente_teorica }}</a>
                                    </p>
                                </div>
                                {% if request.user.is_authenticated %}
                                    <a href="{% url 'editar_cadeira' cadeira.id %}">Editar</a>
                                    <a href="{% url 'eliminar_cadeira' cadeira.id %}">Eliminar</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="section-title">
                <h1>Segundo Ano</h1>
            </div>
            <div class="row">
                {% for cadeira in cadeiras %}
                    {% if cadeira.ano == 2 %}
                        <div class="column">
                            <div class="team-2">
                                <div class="team-img">
                                    {% load static %}
                                    <img src="{{ cadeira.imagem.url }}" alt="Team Image">
                                </div>
                                <div class="team-content">
                                    <h2>{{ cadeira.nome_cadeira }}</h2>
                                    <h3>{{ cadeira.grupo }}</h3>
                                    <p>{{ cadeira.descricao }}</p>
                                    <p>Rank:
                                        {% for x in range %}
                                            {% if x <= cadeira.ranking %}
                                                <span class="fa fa-star checked"></span>
                                            {% else %}
                                                <span class="fa fa-star"></span>
                                            {% endif %}
                                        {% endfor %}
                                    </p>
                                    <p>Prática: <a
                                            href="{% url 'docente' cadeira.docente_pratica_id %}">{{ cadeira.docente_pratica }}</a>
                                    </p>
                                    <p>Teórica: <a
                                            href="{% url 'docente' cadeira.docente_teorica_id %}">{{ cadeira.docente_teorica }}</a>
                                    </p>
                                </div>
                                {% if request.user.is_authenticated %}
                                    <a href="{% url 'editar_cadeira' cadeira.id %}">Editar</a>
                                    <a href="{% url 'eliminar_cadeira' cadeira.id %}">Eliminar</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% if request.user.is_authenticated %}
            <a href="{% url 'nova_cadeira' %}">Nova</a>
        {% endif %}
    </div>
{% endblock %}