{% extends 'portfolio/layout.html' %}

{% block main %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/project.css' %}">


    <div class="cards">
    {% for projeto in projetos %}
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front"
                     style="background-image: url({% static 'portfolio/images/' %}{{ projeto.proj_imagem }})">
                </div>
                <div class="flip-card-back">
                    <h1>Título: {{ projeto.proj_titulo }}</h1>
                    <p>Descrição: {{ projeto.proj_descricao }}</p>
                    <p>Ano: {{ projeto.proj_ano }}</p>
                    <p>Cadeira: {{ projeto.proj_cadeira.nome_cadeira }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}