{% extends 'portfolio/layout.html' %}

{% block main %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/tecnologia.css' %}">

    <div class="cards">
        {% for individual in tfc %}
            <div class="card">
                <div class="thumbnail-boxed-left">
                    <img class="thumbnail-boxed-image"
                         src="{{ individual.imagem.url }}"
                         alt="" width="370" height="254">
                </div>
                <div class="thumbnail-boxed-body">
                    <p class="thumbnail-boxed-title"><a
                            href="{{ individual.github }}">{{ individual.titulo }}</a></p>
                    <div class="thumbnail-boxed-text">
                        <p>{{ individual.descricao }}</p>
                    </div>
                    <div class="thumbnail-boxed-footer">
                        <ul class="thumbnail-boxed-meta">
                            <li><span class="icon icon-xs icon-tan-hide fa-regular fa-user"></span>
                                <span>{{ individual.autor }}</span>
                            </li>
                            <li><span class="icon icon-xs icon-tan-hide fa-regular fa-calendar-check"></span>
                                <span>{{ individual.ano }} anos</span>
                            </li>
                            <li><a href="{{ individual.github }}">
                                <span class="icon icon-xs icon-tan-hide fa-brands fa-github"></span>
                            </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}