.row{
    flex-direction: row;
    display: flex;
    width: 100%;
    padding: 80px 0 30px;
}

.row .column.column-40 {
    flex: 0 0 40%;
    max-width: 40%;
}
.row .column.column-offset-10 {
    margin-left: 10%;
}
.row .column {
    display: block;
    flex: 1 1 auto;
    margin-left: 0;
    max-width: 100%;
    width: 100%;
}

.row .column.column-40 {
    flex: 0 0 40%;
    max-width: 40%;
}

.row .column {
    display: block;
    flex: 1 1 auto;
    margin-left: 0;
    max-width: 100%;
    width: 100%;
}

.animal_description{
    margin-top: 80px;
}