/**********************************/
/********** General CSS ***********/
/**********************************/
*,
*::before,
*::after {
    box-sizing: border-box;
}

#equipa{
    background-color: white;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
}

body {
    font-family: 'Lato', sans-serif;
    color: #454545;
    font-weight: 300;
    background: #ffffff;
}

a {
    color: #333333;
    font-weight: 400;
    outline: none;
    text-decoration: none;
    transition: 0.5s;
}

a:hover,
a:active,
a:focus {
    outline: none;
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0 0 15px 0;
    color: #454545;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0 0 15px 0;
    color: #333333;
    font-weight: 700;

}

h1 {
    font-weight: 900;
}



/**********************************/
/***** Layout & Section Title *****/
/**********************************/
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
}

.column {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 576px) {
    .column {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 768px) {
    .column {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

@media (min-width: 992px) {
    .column {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

.section-title {
    width: 100%;
    text-align: center;
    padding: 45px 0 30px 0;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 5px;
    left: calc(50% - 25px);
    background: #353535;
}

.section-title h1 {
    color: #353535;
    font-size: 50px;
    letter-spacing: 5px;
    margin-bottom: 5px;
}

@media(max-width: 767.98px) {
    .section-title h1 {
        font-size: 40px;
        letter-spacing: 3px;
    }
}

@media(max-width: 567.98px) {
    .section-title h1 {
        font-size: 30px;
        letter-spacing: 2px;
    }
}


/**********************************/
/********** Team #2 Style *********/
/**********************************/
.team-2 {
    text-align: center;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.team-2 .team-img {
    position: relative;
    font-size: 0;
    border-radius: 5px 5px 0 0;
}

.team-2 .team-img img {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
}


.team-2 .team-content {
    padding: 20px;
}

.team-2 .team-content h2 {
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2px;
}

.team-2 .team-content h3 {
    font-size: 16px;
    font-weight: 300;
}

.team-2 .team-content h4 {
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.team-2 .team-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}